services:
  freeswitch:
    image: safarov/freeswitch:1.10.12
    container_name: hardline-freeswitch
    restart: unless-stopped
    ports:
      - "${SIP_UDP_PORT:-5060}:5060/udp"
      - "16384-32768:16384-32768/udp"
    volumes:
      - ./data/sounds:/var/lib/freeswitch/sounds/custom:ro
      #- ./freeswitch/conf/autoload_configs/xml_curl.conf.xml:/etc/freeswitch/autoload_configs/xml_curl.conf.xml:ro
    networks:
      - hardline
    command: ["freeswitch", "-nonat", "-nf"]

  backend:
    build:
      context: ./backend
      target: ${BACKEND_TARGET:-dev}
    container_name: hardline-backend
    restart: unless-stopped
    depends_on:
      - freeswitch
    ports:
      - "${API_PORT:-3000}:3000"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - SERVER_PASSWORD=${SERVER_PASSWORD}
      - REGISTRY_PATH=/data/registry.json
    volumes:
      - ./backend:/app
      - ./data:/data
    networks:
      - hardline

networks:
  hardline:
    driver: bridge
